

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Rubik+80s+Fade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Unica+One&display=swap");

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    background: linear-gradient(to bottom right, #202c30f4, #000000);
    color: white;
}

 h1{
font-family: "Rubik 80s Fade", cursive;
font-size: clamp(2rem, 6vw, 5rem); 
  text-align: center;
  color: antiquewhite;
}
